<div id="sprintContainer" class="containerTab" *ngIf="!data.ongoingSprint">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <button id="btnPastSprint" class="btn btn-primary"
        [ngClass]="{ 'active':data.activeTab==='past'}" (click)="pastSprint('past')">Past Sprints</button>
    </li>

    <li class="nav-item">
      <button id="btnNewSprint" class="btn btn-primary"
        [ngClass]="{ 'active':data.activeTab==='new'}" (click)="newSprint('new')">New Sprint</button>
    </li>
  </ul>

  <br/>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane" id="past" [ngClass]="{ 'active':data.activeTab==='past'}">
      <div class="pastSprint">
        <app-past-sprint></app-past-sprint>
      </div>
    </div>

    <div class="tab-pane" id="new" [ngClass]="{ 'active':data.activeTab==='new'}">
      <div class="container"></div>
      <app-newsprint></app-newsprint>
    </div>

  </div>

</div>


